<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="PersonalShopperSample1.PersonalShopperSample1" android:versionCode="1" android:versionName="4.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" />
	<uses-permission android:name="com.symbol.emdk.permission.EMDK" />
	<application android:label="PersonalShopperSample1" android:theme="@style/AppTheme">   
		<uses-library android:name="com.symbol.emdk" />
    <activity android:name=".MainActivity" android:screenOrientation="portrait"></activity>
	</application>
</manifest>