<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Symbol.XamarinEMDK.BarcodeSample1" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="com.symbol.emdk.permission.EMDK" />
	<application android:label="BarcodeSample1" android:icon="@drawable/Icon" android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
		<uses-library android:name="com.symbol.emdk" />
	</application>
</manifest>