<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ScanAndPairSample1.ScanAndPairSample1" android:versionCode="1" android:versionName="4.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" />
	<uses-permission android:name="com.symbol.emdk.permission.EMDK" />
	<application android:label="ScanAndPairSample1">
		<uses-library android:name="com.symbol.emdk" />
	</application>
</manifest>